<!-- HOMEPAGE/START-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Food App</h1>
      <h3>Select one of the following to get started.</h3>
      
      <!-- redirects to the recipe finder homepage -->
      <a href="views/recipe.erb">Recipe Search</a>
      <p>Find a recipe for any dish!</p> <br>
      
      <!-- redirects to the restaurant finder -->
      <a href="views/restaurants.erb">Restaurant Finder</a>
      <p>Want to know restaurants near you that serve a specific cuisine? Click here!</p> <br>
      
      <!-- redirects to food reviews -->
      <a href="views/reviews.erb">Food Reviews</a>
      <p>Check out reviews of food.</p> <br>
    </div>
    
  </body>
</html>

