<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Restaurant Finder</h1>
      <h3>Choose a place to eat:</h3>
      <h3>Delivery,	Dine-out, Nightlife, Catching-up, Takeaway, Cafes, Daily Menus, Breakfast, Lunch, Dinner, Pubs & Bars, Premium Delivery, Pocket Friendly Delivery, Clubs & Lounges</h3>
      <form method="post" action="resultRestaurants">
        Search: <input type="text" name="search" size="40"><br>
        <input type="submit" value="Find a Resturant">
      </form>
    </div>
    
  </body>
</html>
