body {
    text-align: center;
    background-image: url("yellow_food.jpg");
}
h1 {
  background-color: lightgreen;
  color: white;
  text-shadow: 3px 3px 4px black;
  font-family: 'Wendy One', sans-serif;
  animation-name: ccolor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-align: center;
}
